.movie-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-poster {
    background-size: cover;
    width: 50%;
}

.movie-description {
    width: 50%; 
}

.is-favorite {
    background-color: red;
}