.movie-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-poster {
    background-size: cover;
    width: 50%;
}

.movie-description {
    width: 50%; 
}

.is-favorite {
    background-color: red;
}

.movie-data {
    font-weight: bold;
    font-size: 26px;  
}

.movie-plot {
    font-weight: bold;
    font-size: 28px;  
}

.movie-people {
    font-weight: bold;
    font-size: 18px;  
}