<div class="container">

    <div class="header">
        <div class="header-logo">Logo</div>
        <div class="header-avatar"><a routerLink="/profile">Avatar</a></div>
    </div>

    <div class="search">
        <div class="search-movie">
            <input type="text" [(ngModel)]="search" (keyup)="searchMovie()">
        </div>
        <div class="button-favorites" (click)="navigateall()">
            List All
        </div>
    </div>

    <div class="movie-list" *ngIf="temFilme">

        <div *ngFor="let movie of moviesList | movies:search; let i = index; let c = count">

            <div class="movie" *ngIf="isFavorite(i)">

                <div [ngClass]="{'is-favorite': isFavorite(i)}" (click)="changeFav(i)">
                    Love
                </div>

                <img [src]="movie.poster" class="movie" (click)="movieDetail(i)">
            </div>

        </div>
    </div>

    <div class="no-movie" *ngIf="!temFilme">
        <app-not-found></app-not-found>
    </div>
    
</div>