<div class="container">

    <div class="header">
        <div class="home">
            <img src="../../../assets/logo-verde.svg" alt="">
            <span>movies</span>
        </div>
        <div class="profile" routerLink="/profile">
            <i class="fa fa-user"></i>
        </div>
    </div>

    <div class="search">
        <div class="search-movie">
            <span class="fa fa-search magnifier"></span>
            <input type="text" [(ngModel)]="search" (keyup)="searchMovie()" placeholder="Search">
        </div>
        <div class="button-favorites" (click)="navigateFavorites()">
            Favorites
        </div>
    </div>

    <div class="movie-list" *ngIf="temFilme">

        <div *ngFor="let movie of moviesList | movies:search; let i = index; let c = count">

            <div class="movie">

                <div [ngClass]="{'is-favorite': isFavorite(i)}" class="love" (click)="changeFav(i)">
                    <span class="fa fa-heart"></span>
                </div>

                <img [src]="movie.poster" class="movie" (click)="movieDetail(i)">
            </div>
        </div>

    </div>

    <div class="no-movie" *ngIf="!temFilme">
        <app-not-found></app-not-found>
    </div>

</div>