@font-face {
    font-family: metropolis;
    src: url('../../../assets/fonts/Metropolis-Regular.otf');
  }

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.profile-desc {
    width: 444px;
    font-family: metropolis;
    font-size: 28px;
}

.form-control{
    border-color:#fff;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}