<div class="container">

    <div class="header">
        <div class="home">
            <img src="../../../assets/logo-verde.svg" alt="">
            <span>movies</span>
        </div>
        <div class="profile" routerLink="/profile">
            <i class="fa fa-user"></i>
        </div>
    </div>

    <div class="content">

        <div class="profile-desc">
            <!-- <div> -->
            It's time to create your profile and customize your experience in LinkApi Movies!
            <!-- </div> -->
        </div>

        <div class="profile-info">
            <div>
                <label>
                    Name:
                    <input class="form-control border-bottom" type="text" [(ngModel)]="profile.name"
                        [ngModelOptions]="{standalone: true}">
                </label>
            </div>

            <div>
                <label>
                    Age:
                    <input class="form-control border-bottom" type="text" [(ngModel)]="profile.age"
                        [ngModelOptions]="{standalone: true}">
                </label>
            </div>

            <div>
                <label>
                    Favorite movie:
                    <input class="form-control border-bottom" type="text" [(ngModel)]="profile.favoriteMovie"
                        [ngModelOptions]="{standalone: true}">
                </label>
            </div>

            <div>
                <label>
                    Favorite genre:
                    <input class="form-control border-bottom" type="text" [(ngModel)]="profile.favoriteGenre"
                        [ngModelOptions]="{standalone: true}">
                </label>
            </div>

            <div>
                <button (click)="cancel()">Cancel</button>
                <button (click)="saveProfile()">Save</button>
            </div>

        </div>
    </div>
</div>